URL = "https://api.themoviedb.org/3"
API = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhODhiOTk1MWIyY2Q2Mzk2NjIwMGI3YzViMTYxODI0OCIsIm5iZiI6MTcyMjM4MTY2Mi4wMDk0MDYsInN1YiI6IjY2YTZhOWY4ZDgwMDU2ZGJiOGRlOWIyZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.toAEKgKNTR6xk0akeza6WQVBDNULb8Ie7nzQolbgSR0"